*,
:after,
:before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

@-ms-viewport {
    width: device-width
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus {
    outline: none !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0
}

address {
    font-style: normal;
    line-height: inherit
}

address,
dl,
ol,
ul {
    margin-bottom: 1rem
}

dl,
ol,
ul {
    margin-top: 0
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

dfn {
    font-style: italic
}

b,
strong {
    font-weight: 700
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a,
a:hover {
    color: #007bff
}

a:hover {
    text-decoration: none
}

img {
    vertical-align: middle;
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #868e96;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    -webkit-appearance: listbox
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none !important
}

.ufo--portfolio-page {
    --bgColor: #fff;
    background-color: var(--bgColor)
}

.ufo--container {
    width: 1134px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px
}

.ufo--page-hero {
    position: relative;
    --hoverColor: #00b8ff
}

.ufo--page-hero.grid {
    grid-row-gap: 0
}

.ufo--page-hero-content h1 {
    font-family: var(--h1Font);
    font-size: var(--h1Size);
    font-weight: var(--h1Weight);
    font-style: var(--h1Style);
    line-height: var(--h1Height);
    color: var(--h1Color)
}

.ufo--page-hero-content h2,
.ufo--page-hero-content h3 {
    font-family: var(--h2Font);
    font-size: var(--h2Size);
    font-weight: var(--h2Weight);
    font-style: var(--h2Style);
    line-height: var(--h2Height);
    color: var(--h2Color)
}

.ufo--page-hero-content ol,
.ufo--page-hero-content p,
.ufo--page-hero-content ul {
    font-family: var(--p1Font);
    font-size: var(--p1Size);
    font-weight: var(--p1Weight);
    font-style: var(--p1Style);
    line-height: var(--p1Height);
    color: var(--p1Color);
    margin-bottom: 0
}

.ufo--page-hero-content p:empty:after {
    content: "\00A0"
}

.ufo--page-hero-content a,
.ufo--page-hero-content a:hover {
    color: var(--hoverColor, #00b8ff)
}

.ufo--page-navbar {
    position: relative;
    z-index: 2;
    height: max-content;
    grid-column: 1/-1
}

@media (min-width:1024px) {
    .ufo--page-navbar {
        grid-column: 2/span 12
    }
}

@media (max-width:768px) {
    .ufo--page-navbar {
        justify-content: space-between;
        align-items: right;
        padding-top: 24px;
        padding-bottom: 24px
    }
}

.ufo--page-navbar .ufo--page-navbar-container {
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 100%
}

@media (max-width:768px) {
    .ufo--page-navbar .ufo--page-navbar-container:not(.no-mob) {
        position: fixed;
        top: -100%;
        left: 0;
        height: 100%;
        background-color: var(--bgColor);
        transition: top .2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .ufo--page-navbar .ufo--page-navbar-container:not(.no-mob).on {
        top: 0
    }
}

.ufo--page-hero-content {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 0;
    position: relative
}

@media (min-width:1024px) {
    .ufo--page-hero-content {
        grid-column: 2/span 12
    }
}

@media (min-width:640px) {
    .ufo--page-hero-content {
        grid-column-gap: var(--gridGap);
        grid-template-columns: repeat(12, minmax(10px, 1fr))
    }
}

@media (max-width:768px) {
    .ufo--page-hero-content {
        height: unset !important
    }
}

.ufo--page-navbar-id {
    display: none;
    flex: none;
    font-family: var(--buttonFont);
    color: var(--buttonColor);
    font-size: var(--buttonSize);
    line-height: var(--buttonHeight);
    font-weight: var(--buttonWeight);
    font-style: var(--buttonStyle)
}

@media (max-width:768px) {
    .ufo--page-navbar-id {
        display: block;
        position: relative;
        z-index: 11
    }
}

.ufo--page-navbar-id:hover {
    font-weight: 700;
    color: var(--hoverColor)
}

.ufo--page-navbar-toggle {
    display: none
}

@media (max-width:768px) {
    .ufo--page-navbar-toggle {
        position: relative;
        z-index: 11;
        width: 15px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margint-left: auto
    }

    .ufo--page-navbar-toggle.on {
        width: 15px;
        height: 15px
    }

    .ufo--page-navbar-toggle.on span:first-child,
    .ufo--page-navbar-toggle.on span:nth-child(4) {
        background-color: transparent
    }

    .ufo--page-navbar-toggle.on span:nth-child(2) {
        transform: rotate(45deg) translate(2px, 3px);
        width: 16px
    }

    .ufo--page-navbar-toggle.on span:nth-child(3) {
        transform: rotate(-45deg) translateY(-1px);
        width: 16px
    }

    .ufo--page-navbar-toggle span {
        width: 100%;
        height: 1px;
        background-color: var(--buttonColor);
        margin-bottom: 3px;
        transition: .2s ease-out;
        transition-property: transform
    }

    .ufo--page-navbar-toggle span:last-child {
        margin-bottom: 0
    }
}

.ufo--page-navbar-item {
    position: relative;
    margin-right: 24px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.ufo--page-navbar-item:after {
    content: attr(data-text);
    content: attr(data-text)/"";
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 700;
    font-family: var(--buttonFont);
    font-size: var(--buttonSize);
    font-style: var(--buttonStyle);
    line-height: var(--buttonHeight)
}

@media speech {
    .ufo--page-navbar-item:after {
        display: none
    }
}

.ufo--page-navbar-item .btn {
    font-family: var(--buttonFont);
    font-size: var(--buttonSize);
    font-weight: var(--buttonWeight);
    font-style: var(--buttonStyle);
    line-height: var(--buttonHeight);
    color: var(--buttonColor);
    height: auto;
    border: none;
    background-color: transparent;
    text-transform: none;
    padding: 0;
    white-space: normal;
    cursor: pointer
}

.ufo--page-navbar-item .btn:not(.editable):active,
.ufo--page-navbar-item .btn:not(.editable):focus,
.ufo--page-navbar-item .btn:not(.editable):hover {
    color: var(--hoverColor);
    border-color: var(--hoverColor);
    outline: none;
    font-weight: 700
}

@media (max-width:768px) {
    .ufo--page-navbar-item {
        margin: 12px 0
    }
}

.ufo--page-navbar-logo {
    margin-right: 60px
}

@media (max-width:768px) {
    .ufo--page-navbar-logo {
        position: relative;
        z-index: 11
    }
}

.ufo--page-navbar-logo img {
    max-width: 256px;
    object-fit: contain
}

.ufo--page-hero-image {
    grid-row: 2;
    grid-column: 1/span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-bottom: 48px
}

.ufo--page-hero-image.cover,
.ufo--page-hero-image.fit,
.ufo--page-hero-image.fit-margin {
    padding-bottom: 0
}

.ufo--page-hero-image.cover img.hero-image,
.ufo--page-hero-image.fit-margin img.hero-image,
.ufo--page-hero-image.fit img.hero-image {
    width: 100% !important;
    height: 100% !important;
    max-height: unset !important;
    object-fit: cover;
    display: block
}

.ufo--page-hero-image.fit-margin {
    margin-bottom: 48px
}

.ufo--page-hero-image.cover {
    width: 100vw;
    margin-left: -24px;
    margin-right: -24px
}

.ufo--page-hero-image.cover img.hero-image {
    object-fit: contain
}

@media (min-width:768px) {
    .ufo--page-hero-image {
        grid-column: 1/span 6;
        padding-bottom: 0;
        grid-row: 1
    }

    .ufo--page-hero-image.flipped {
        grid-column: 7/span 6
    }

    .ufo--page-hero-image.fit img.hero-image {
        object-fit: contain
    }

    .ufo--page-hero-image.fit-margin {
        margin: 48px
    }

    .ufo--page-hero-image.fit-margin img.hero-image {
        object-fit: contain
    }

    .ufo--page-hero-image.cover {
        width: unset;
        position: relative;
        overflow: unset;
        height: 100%;
        margin: 0
    }

    .ufo--page-hero-image.cover img.hero-image {
        width: 50vw !important;
        max-width: 50vw !important;
        position: absolute;
        object-fit: cover;
        right: 0
    }

    .ufo--page-hero-image.cover.flipped img.hero-image {
        left: 0
    }
}

.ufo--page-hero-bio {
    grid-row: 1;
    grid-column: 1/span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 0;
    position: relative;
    z-index: 1
}

.ufo--page-hero-bio.view {
    word-wrap: break-word;
    white-space: pre-wrap
}

@media (min-width:768.5px) {
    .ufo--page-hero-bio {
        grid-row: 1;
        grid-column: 7/span 6
    }

    .ufo--page-hero-bio.flipped {
        grid-column: 1/span 6
    }
}

.ufo--page-hero-bio.full-w {
    grid-column: 1/span 12;
    text-align: center
}

.ufo--page-hero-bio.top {
    justify-content: flex-start
}

.ufo--page-hero-bio.bottom,
.ufo--page-links {
    justify-content: flex-end
}

.ufo--page-links {
    grid-column: 1/span 12;
    margin-left: auto
}

@media (max-width:768px) {
    .ufo--page-links {
        margin: 48px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
}

.ufo--page-links a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 24px;
    text-transform: capitalize;
    font-family: var(--buttonFont);
    font-size: var(--buttonSize);
    font-weight: var(--buttonWeight);
    font-style: var(--buttonStyle);
    line-height: var(--buttonHeight);
    color: var(--buttonColor)
}

@media (max-width:768px) {
    .ufo--page-links a {
        margin: 12px 0
    }
}

.ufo--page-links a:after {
    content: attr(data-text);
    content: attr(data-text)/"";
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 700;
    font-family: var(--buttonFont);
    font-size: var(--buttonSize);
    font-style: var(--buttonStyle);
    line-height: var(--buttonHeight)
}

@media speech {
    .ufo--page-links a:after {
        display: none
    }
}

.ufo--page-links a:first-child {
    margin-left: 0 !important
}

.ufo--page-links a:last-child {
    margin-right: 0 !important
}

.ufo--page-links a:hover {
    color: var(--hoverColor)
}

.ufo--page-links a .fa-website:before {
    content: "\f0ac"
}

.ufo--page-links a .fa {
    text-align: center
}

.ufo--page-links a .fa-email:before {
    content: "\f0e0";
    line-height: 20px
}

.ufo--page-hero-background {
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

@media (min-width:768.5px) {
    .ufo--page-hero-background {
        grid-row: 1
    }
}

.ufo--page-hero-background.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--colorOverlay)
}

.ufo--page-hero-background.blur:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    backdrop-filter: blur(var(--blur))
}

.profile-footer {
    min-height: 100px;
    width: 100%;
    background-color: var(--bgColor)
}

.profile-footer-content {
    --borderColor: hsla(0, 0%, 53.3%, 0.3);
    border-top: 1px solid var(--borderColor);
    grid-column: 1/-1;
    padding: var(--gridGap) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

@media (min-width:1024px) {
    .profile-footer-content {
        grid-column: 2/span 12
    }
}

.profile-footer-content .footer-url {
    font-size: var(--buttonSize);
    color: var(--buttonColor);
    font-family: var(--buttonFont);
    line-height: 1.2;
    margin: 0 10px;
    text-transform: uppercase;
    transition: color .2s ease-out;
    cursor: pointer
}

.profile-footer-content .footer-url:hover {
    color: var(--hoverColor)
}

.profile-footer-content .footer-icon {
    font-size: 14px;
    border-radius: 50%;
    overflow: hidden
}

.profile-footer-content .footer-icon:last-child {
    margin-right: 0
}

.profile-footer-content .footer-icon .fa-website:before {
    content: "\f0ac"
}

.profile-footer-content .footer-icon .fa {
    line-height: 22px;
    text-align: center
}

.profile-footer-content .footer-icon .fa-email:before {
    content: "\f0e0";
    line-height: 20px
}

.ufo--portfolio-page .empty-collection .empty-illustration {
    background: url(/dist/images/empty-collection.png) 50% no-repeat;
    background-size: contain;
    width: 410px;
    height: 406px;
    max-width: 100%;
    margin: 20px auto
}

.ufo--portfolio-page .empty-collection .centered-button {
    display: flex;
    justify-content: center;
    margin-top: 30px
}

.ufo--portfolio-page .empty-collection h2 {
    font-size: 1.4rem;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 700;
    line-height: .91;
    color: #6b797f;
    text-align: center;
    margin-bottom: 10px;
    font-style: unset
}

.ufo--portfolio-page .empty-collection p {
    font-size: 1rem;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    line-height: 1.25;
    color: #6b797f;
    text-align: center
}

.ufo--portfolio-page .empty-collection p a {
    color: #00b8ff;
    font-weight: 700;
    text-decoration: none
}

.ufo--portfolio-page .empty-collection p a:hover {
    text-decoration: none
}

.ufo--portfolio-page .empty-collection .btn {
    display: inline-block;
    height: 36px;
    padding: 8px 16px;
    font-family: Lato, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background-color: #00b8ff;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: background-color .2s ease-out;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none
}

.theme_twelve {
    --borderColor: rgba(40, 42, 43, 0.2);
    overflow: hidden
}

.theme_twelve .ufo--page-hero-content {
    grid-row-gap: 12px
}

@media (min-width:768px) {
    .theme_twelve .ufo--page-hero-content {
        grid-row-gap: 36px
    }
}

.theme_twelve .ufo--page-navbar {
    display: flex
}

@media (min-width:768.5px) {
    .theme_twelve .ufo--page-navbar {
        flex-direction: row;
        justify-content: flex-start;
        padding: 36px 0
    }

    .theme_twelve .ufo--page-navbar .ufo--page-navbar-container {
        width: max-content
    }
}

.theme_twelve .ufo--page-navbar .ufo--page-navbar-item {
    margin-right: 60px
}

@media (max-width:768px) {
    .theme_twelve .ufo--page-navbar .ufo--page-navbar-item {
        margin: 12px 0
    }
}

.theme_twelve .ufo--page-navbar .ufo--page-navbar-item .btn.active {
    font-weight: 700
}

.theme_twelve .ufo--page-navbar .ufo--page-navbar-item:last-child {
    margin-right: 0
}

.theme_twelve .ufo--page-hero-bio {
    grid-row: 2;
    grid-column: 1/span 12
}

.theme_twelve .ufo--page-hero-bio:not(.full-w):not(.flipped) {
    padding-top: 0
}

.theme_twelve .ufo--page-hero-bio.full-w {
    grid-row: 1;
    text-align: left
}

.theme_twelve .ufo--page-hero-bio.view {
    white-space: unset
}

.theme_twelve .ufo--page-hero-image {
    overflow: unset;
    height: max-content;
    grid-row: 1;
    margin-top: 12px
}

@media (max-width:768px) {
    .theme_twelve .ufo--page-hero-image {
        padding-bottom: 0;
        margin-bottom: 24px
    }
}

@media (min-width:768px) {
    .theme_twelve .ufo--page-hero-image {
        margin-top: 36px
    }
}

.theme_twelve .ufo--page-hero-image.theme-default {
    grid-column: 1/span 2;
    padding-top: 100%
}

@media (max-width:992px) {
    .theme_twelve .ufo--page-hero-image.theme-default {
        grid-column: 1/span 3
    }
}

@media (max-width:520px) {
    .theme_twelve .ufo--page-hero-image.theme-default {
        grid-column: 1/span 4
    }
}

.theme_twelve .ufo--page-hero-image.theme-default .ufo-editor--content-edit-buttons {
    left: unset;
    bottom: unset;
    top: -20px;
    right: 0;
    transform: translateX(50%)
}

.theme_twelve .ufo--page-hero-image.theme-default img.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0
}

.theme_twelve .profile-footer .profile-footer-content {
    border: none
}

.theme_twelve .profile-footer .profile-footer-content .footer-url {
    margin-left: 24px;
    margin-right: 24px;
    text-transform: capitalize;
    position: relative
}

.theme_twelve .profile-footer .profile-footer-content .footer-url:last-child:after {
    content: none
}

.theme_twelve .profile-footer .profile-footer-content .footer-url:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--buttonColor)
}

.theme_twelve .ufo--page-hero-image .ufo-fab--container {
    bottom: 50%;
    left: 100%
}

.ufo--user-projects .project {
    max-width: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column
}

.ufo--user-projects .project.add-project {
    overflow: inherit
}

.ufo--user-projects .project:hover .image-container img.project-thumbnail {
    transform: scale(1.03);
    filter: blur(10px)
}

.ufo--user-projects .project:hover .project-name {
    opacity: 1;
    background: rgba(40, 42, 43, .75)
}

.ufo--user-projects .project .image-container {
    position: relative;
    padding-top: 100%;
    display: flex;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(#fff, #000)
}

.ufo--user-projects .project .image-container.overlay:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--colorOverlay)
}

.ufo--user-projects .project img.project-thumbnail {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s ease;
    transition-property: transform, filter
}

.ufo--user-projects .project .project-name {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .2s ease-out;
    text-decoration: none
}

.ufo--user-projects .project .project-name .project-title {
    font-family: var(--projectTitleFont);
    font-size: var(--projectTitleSize);
    font-weight: var(--projectTitleWeight);
    font-style: var(--projectTitleStyle);
    line-height: var(--projectTitleHeight);
    color: var(--projectTitleColor);
    margin-bottom: 16px
}

.ufo--user-projects .project .project-name .project-subtitle {
    font-family: var(--projectSubTitleFont);
    font-size: var(--projectSubTitleSize);
    font-weight: var(--projectSubTitleWeight);
    font-style: var(--projectSubTitleStyle);
    line-height: var(--projectSubTitleHeight);
    color: var(--projectSubTitleColor)
}

.ufo--user-projects .project.ghost {
    background: #edf0f1;
    height: 100%
}

.ufo--user-projects .project.ghost .image-container,
.ufo--user-projects .project.ghost .project-layer,
.ufo--user-projects .project.ghost .project-status-display,
.ufo--user-projects .project.ghost .project-subtitle,
.ufo--user-projects .project.ghost .project-title {
    opacity: 0 !important
}

.ufo--user-projects .project.dragon {
    cursor: move;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none
}

.ufo--user-projects .project.dragon .project-subtitle,
.ufo--user-projects .project.dragon .project-title {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none
}

.ufo--user-projects .project.ufo--trickacity {
    z-index: 1
}

.ufo--user-projects .project.ufo--trickacity .image-container img {
    z-index: -1
}

.flip-list-move {
    transition: transform .5s
}

.empty-collection {
    grid-column: 1/-1
}

@media (min-width:1024px) {
    .empty-collection {
        grid-column: 2/span 12
    }
}

@keyframes jiggle {
    0% {
        transform: rotate(-.5deg)
    }

    50% {
        transform: rotate(.5deg)
    }
}

.ufo--user-projects .project.thumbnail-is--default,
.ufo--user-projects .project.thumbnail-is--small {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column: 1/-1
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--default,
    .ufo--user-projects .project.thumbnail-is--small {
        grid-column: 2/span 6
    }

    .ufo--user-projects .project.thumbnail-is--default:nth-child(2n),
    .ufo--user-projects .project.thumbnail-is--small:nth-child(2n) {
        grid-column-start: 8
    }
}

.ufo--user-projects .project.thumbnail-is--default .image-container,
.ufo--user-projects .project.thumbnail-is--default .project-layer,
.ufo--user-projects .project.thumbnail-is--default .project-name,
.ufo--user-projects .project.thumbnail-is--small .image-container,
.ufo--user-projects .project.thumbnail-is--small .project-layer,
.ufo--user-projects .project.thumbnail-is--small .project-name {
    grid-column: 1/span 12
}

.ufo--user-projects .project.thumbnail-is--default .project-name .project-title,
.ufo--user-projects .project.thumbnail-is--small .project-name .project-title {
    margin-bottom: 24px
}

.ufo--user-projects .project.thumbnail-is--default.title-is--below .project-name,
.ufo--user-projects .project.thumbnail-is--small.title-is--below .project-name {
    grid-row: 2
}

.ufo--user-projects .project.thumbnail-is--default.title-is--below .image-container,
.ufo--user-projects .project.thumbnail-is--default.title-is--below .project-layer,
.ufo--user-projects .project.thumbnail-is--small.title-is--below .image-container,
.ufo--user-projects .project.thumbnail-is--small.title-is--below .project-layer {
    grid-row: 1
}

.ufo--user-projects .project.thumbnail-is--default.title-is--on-thumbnail .project-name,
.ufo--user-projects .project.thumbnail-is--small.title-is--on-thumbnail .project-name {
    padding: var(--gridGap)
}

.ufo--user-projects .project.thumbnail-is--default.title-is--alternating,
.ufo--user-projects .project.thumbnail-is--default.title-is--left,
.ufo--user-projects .project.thumbnail-is--default.title-is--right,
.ufo--user-projects .project.thumbnail-is--small.title-is--alternating,
.ufo--user-projects .project.thumbnail-is--small.title-is--left,
.ufo--user-projects .project.thumbnail-is--small.title-is--right {
    grid-gap: var(--gridGap)
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--default.title-is--alternating,
    .ufo--user-projects .project.thumbnail-is--default.title-is--left,
    .ufo--user-projects .project.thumbnail-is--default.title-is--right,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right {
        grid-column: 2/span 12
    }
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--default.title-is--alternating:nth-child(2n) .project-name,
    .ufo--user-projects .project.thumbnail-is--default.title-is--alternating:nth-child(odd) .image-container,
    .ufo--user-projects .project.thumbnail-is--default.title-is--alternating:nth-child(odd) .project-layer,
    .ufo--user-projects .project.thumbnail-is--default.title-is--left .project-name,
    .ufo--user-projects .project.thumbnail-is--default.title-is--right .image-container,
    .ufo--user-projects .project.thumbnail-is--default.title-is--right .project-layer,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating:nth-child(2n) .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating:nth-child(odd) .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating:nth-child(odd) .project-layer,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .project-layer {
        grid-column: 1/span 6
    }
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--default.title-is--alternating:nth-child(2n) .image-container,
    .ufo--user-projects .project.thumbnail-is--default.title-is--alternating:nth-child(2n) .project-layer,
    .ufo--user-projects .project.thumbnail-is--default.title-is--alternating:nth-child(odd) .project-name,
    .ufo--user-projects .project.thumbnail-is--default.title-is--left .image-container,
    .ufo--user-projects .project.thumbnail-is--default.title-is--left .project-layer,
    .ufo--user-projects .project.thumbnail-is--default.title-is--right .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating:nth-child(2n) .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating:nth-child(2n) .project-layer,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating:nth-child(odd) .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .project-layer,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .project-name {
        grid-column: 7/span 6
    }
}

.ufo--user-projects .project.thumbnail-is--default.title-is--alternating .image-container,
.ufo--user-projects .project.thumbnail-is--default.title-is--left .image-container,
.ufo--user-projects .project.thumbnail-is--default.title-is--right .image-container,
.ufo--user-projects .project.thumbnail-is--small.title-is--alternating .image-container,
.ufo--user-projects .project.thumbnail-is--small.title-is--left .image-container,
.ufo--user-projects .project.thumbnail-is--small.title-is--right .image-container {
    padding-top: 50%
}

.ufo--user-projects .project.thumbnail-is--default.title-is--alternating.add-project,
.ufo--user-projects .project.thumbnail-is--default.title-is--left.add-project,
.ufo--user-projects .project.thumbnail-is--default.title-is--right.add-project,
.ufo--user-projects .project.thumbnail-is--small.title-is--alternating.add-project,
.ufo--user-projects .project.thumbnail-is--small.title-is--left.add-project,
.ufo--user-projects .project.thumbnail-is--small.title-is--right.add-project {
    padding-top: 50% !important
}

.ufo--user-projects .project.thumbnail-is--medium {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: var(--gridGap);
    grid-column: 1/-1
}

@media (min-width:1024px) {
    .ufo--user-projects .project.thumbnail-is--medium {
        grid-column: 2/span 12
    }
}

.ufo--user-projects .project.thumbnail-is--medium .project-name {
    grid-column: 1/-1
}

@media (min-width:1024px) {
    .ufo--user-projects .project.thumbnail-is--medium .project-name {
        grid-column: 8/span 5
    }
}

.ufo--user-projects .project.thumbnail-is--medium .project-name .project-title {
    margin-bottom: 24px
}

.ufo--user-projects .project.thumbnail-is--medium .image-container,
.ufo--user-projects .project.thumbnail-is--medium .project-layer {
    grid-column: 1/-1
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--medium .image-container,
    .ufo--user-projects .project.thumbnail-is--medium .project-layer {
        grid-column: 1/span 7
    }
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating:nth-child(2n) .project-name,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--left .project-name {
        grid-column: 1/span 5
    }
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating:nth-child(odd) .project-name,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--right .project-name {
        grid-column: 8/span 5
    }
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating:nth-child(2n) .image-container,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating:nth-child(2n) .project-layer,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--left .image-container,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--left .project-layer {
        grid-column: 6/span 7
    }
}

@media (min-width:1024px) {

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating:nth-child(odd) .image-container,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating:nth-child(odd) .project-layer,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--right .image-container,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--right .project-layer {
        grid-column: 1/span 7
    }
}

.ufo--user-projects .project.thumbnail-is--medium.add-project {
    padding-top: 50% !important;
    width: 57% !important
}

.ufo--user-projects .project.thumbnail-is--large {
    grid-column: 1/-1
}

@media (min-width:1024px) {
    .ufo--user-projects .project.thumbnail-is--large {
        grid-column: 2/span 12
    }
}

.ufo--user-projects .project.thumbnail-is--large .project-name {
    padding: var(--gridGap)
}

@media (min-width:768px) {
    .ufo--user-projects .project.thumbnail-is--large .project-name .ufo--project-title-container {
        max-width: 75%
    }
}

@media (min-width:1280px) {
    .ufo--user-projects .project.thumbnail-is--large .project-name .ufo--project-title-container {
        max-width: 50%
    }
}

.ufo--user-projects .project.thumbnail-is--large .project-name .project-title {
    margin-bottom: 16px
}

.ufo--user-projects .project.thumbnail-is--large .image-container {
    padding-top: 50%
}

.ufo--user-projects .project.thumbnail-is--large.add-project,
.ufo--user-projects .project.thumbnail-is--large .project-layer {
    padding-top: 50% !important
}

.ufo--user-projects .project.title-is--default:hover:not(.title-is--visible) .project-name {
    background-color: rgba(40, 42, 43, .75)
}

.ufo--user-projects .project.title-is--visible .project-name {
    opacity: 1;
    background-color: transparent
}

.ufo--user-projects .project.title-is--visible:hover .image-container {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1)
}

.ufo--user-projects .project.title-is--visible:hover .image-container img {
    filter: none
}

.ufo--user-projects .project.title-is--hidden .project-name {
    display: none;
    visibility: hidden
}

.ufo--user-projects .project.title-is--hidden:hover .image-container {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1)
}

.ufo--user-projects .project.title-is--hidden:hover .image-container img {
    filter: none
}

.ufo--user-projects .project.title-is--below {
    grid-template-rows: max-content;
    justify-content: flex-end;
    flex-flow: column-reverse
}

.ufo--user-projects .project.title-is--below .project-name {
    padding: 22px 0 0;
    margin-bottom: 10px
}

.ufo--user-projects .project.title-is--below .image-container {
    height: 50%
}

.ufo--user-projects .project.title-is--above {
    grid-template-rows: 1fr auto
}

.ufo--user-projects .project.title-is--above .project-name {
    padding: 0 0 22px;
    flex: 1
}

.ufo--user-projects .project.title-is--above .image-container {
    height: 50%
}

.ufo--user-projects .project.title-is--above.add-project {
    align-self: flex-end
}

.ufo--user-projects .project.title-is--above .project-layer {
    bottom: 0;
    top: inherit
}

.ufo--user-projects .project.title-is--above,
.ufo--user-projects .project.title-is--below {
    overflow: inherit
}

.ufo--user-projects .project.title-is--above .project-name,
.ufo--user-projects .project.title-is--below .project-name {
    justify-content: flex-start;
    position: relative;
    height: auto;
    width: auto
}

.ufo--user-projects .project.title-is--above .project-name .project-title,
.ufo--user-projects .project.title-is--below .project-name .project-title {
    margin-bottom: 7px
}

.ufo--user-projects .project.title-is--above .image-container,
.ufo--user-projects .project.title-is--below .image-container {
    transition: box-shadow .2s ease-out
}

.ufo--user-projects .project.title-is--above:hover .image-container,
.ufo--user-projects .project.title-is--below:hover .image-container {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1)
}

.ufo--user-projects .project.title-is--above:hover .image-container img,
.ufo--user-projects .project.title-is--below:hover .image-container img {
    transform: scale(1.03);
    filter: none
}

.ufo--user-projects .project.title-is--above.add-project,
.ufo--user-projects .project.title-is--above .project-layer,
.ufo--user-projects .project.title-is--below.add-project,
.ufo--user-projects .project.title-is--below .project-layer {
    height: 50%;
    padding-top: 100%
}

.ufo--user-projects .project.title-is--above.add-project .add-project-content,
.ufo--user-projects .project.title-is--below.add-project .add-project-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

.ufo--user-projects .project.title-is--on-thumbnail.title-is--light .project-name .project-title {
    --projectTitleColor: #fff
}

.ufo--user-projects .project.title-is--on-thumbnail.title-is--light .project-name .project-subtitle {
    --projectSubTitleColor: #fff
}

.ufo--user-projects .project.title-is--on-thumbnail.title-is--dark .project-name .project-title {
    --projectTitleColor: #282a2b
}

.ufo--user-projects .project.title-is--on-thumbnail.title-is--dark .project-name .project-subtitle {
    --projectSubTitleColor: #282a2b
}

.ufo--user-projects .project.title-is--alternating:hover .project-name,
.ufo--user-projects .project.title-is--left:hover .project-name,
.ufo--user-projects .project.title-is--right:hover .project-name {
    background: transparent
}

.ufo--user-projects .project.title-is--alternating.thumbnail-is--large .project-name,
.ufo--user-projects .project.title-is--left.thumbnail-is--large .project-name,
.ufo--user-projects .project.title-is--right.thumbnail-is--large .project-name {
    padding: 80px
}

.ufo--user-projects .project.title-is--left .project-name {
    left: 0;
    padding-left: 0
}

.ufo--user-projects .project.title-is--left .image-container {
    align-self: flex-end
}

.ufo--user-projects .project.title-is--left .project-layer {
    right: 0;
    left: auto
}

.ufo--user-projects .project.title-is--right .project-name {
    right: 0;
    left: auto;
    padding-right: 0
}

.ufo--user-projects .project.title-is--alternating:nth-child(odd) .image-container,
.ufo--user-projects .project.title-is--right .image-container {
    align-self: flex-start
}

.ufo--user-projects .project.title-is--alternating:nth-child(2n) .image-container {
    align-self: flex-end
}

.ufo--user-projects .project.title-is--dark .project-name .project-subtitle,
.ufo--user-projects .project.title-is--dark .project-name .project-title {
    --projectTitleColor: #282a2b;
    --projectSubTitleColor: #282a2b
}

.ufo--user-projects .project.title-is--dark.title-is--hover .project-name,
.ufo--user-projects .project.title-is--dark:not(.title-is--visible) .project-name {
    background-color: hsla(0, 0%, 100%, .75)
}

.ufo--user-projects .project.title-is--light.title-is--hover .project-name {
    background-color: rgba(40, 42, 43, .75)
}

.ufo--user-projects .project.title-align--top .project-name {
    justify-content: flex-start
}

.ufo--user-projects .project.title-align--top.thumbnail-is--medium .project-name,
.ufo--user-projects .project.title-align--top.title-is--alternating .project-name,
.ufo--user-projects .project.title-align--top.title-is--left .project-name,
.ufo--user-projects .project.title-align--top.title-is--right .project-name {
    padding-top: 0
}

.ufo--user-projects .project.title-align--top.thumbnail-is--large .project-name {
    padding: 80px
}

.ufo--user-projects .project.title-align--bottom .project-name {
    justify-content: flex-end
}

.ufo--user-projects .project.title-align--bottom.thumbnail-is--medium .project-name,
.ufo--user-projects .project.title-align--bottom.title-is--alternating .project-name,
.ufo--user-projects .project.title-align--bottom.title-is--left .project-name,
.ufo--user-projects .project.title-align--bottom.title-is--right .project-name {
    padding-bottom: 0
}

.ufo--user-projects .project.title-align--bottom.thumbnail-is--large .project-name {
    padding: 80px
}

.ufo--user-projects .project.title-justify--left .project-name {
    text-align: left;
    align-items: flex-start
}

.ufo--user-projects .project.title-justify--right .project-name {
    text-align: right;
    align-items: flex-end
}

.default-template .ufo--user-projects .project.add-project .add-project-content {
    padding: 0 45px
}

@media (max-width:991px),
(max-width:1024px) and (orientation:landscape),
(min-device-width:1024px) and (max-device-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2),
(min-device-width:1112px) and (max-device-width:1112px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2),
(min-device-width:1366px) and (max-device-width:1366px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {
    .ufo--user-projects .project .image-container {
        height: auto
    }

    .ufo--user-projects .project:not(.title-is--below):not(.title-is--above) .project-name {
        position: relative;
        height: auto;
        width: auto;
        padding: 22px 0 0;
        margin-bottom: 20px;
        opacity: 1;
        background-color: transparent !important;
        order: 2
    }

    .ufo--user-projects .project:not(.title-is--below):not(.title-is--above) .project-name .project-title {
        color: var(--h2Color);
        max-width: 100%
    }

    .ufo--user-projects .project:not(.title-is--below):not(.title-is--above) .project-name .project-subtitle {
        color: var(--p1Color);
        max-width: 100%
    }

    .ufo--user-projects .project:not(.title-is--below) .project-name {
        padding: 22px 0;
        margin-bottom: 0
    }

    .ufo--user-projects .project.title-is--above,
    .ufo--user-projects .project.title-is--below {
        margin-bottom: 0
    }

    .ufo--user-projects .project.title-is--above .project-name,
    .ufo--user-projects .project.title-is--below .project-name {
        order: 0
    }

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating .project-name .project-title,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--left .project-name .project-title,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--right .project-name .project-title,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating .project-name .project-title,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .project-name .project-title,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .project-name .project-title {
        color: var(--projectTitleColor)
    }

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating .project-name .project-subtitle,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--left .project-name .project-subtitle,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--right .project-name .project-subtitle,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating .project-name .project-subtitle,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .project-name .project-subtitle,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .project-name .project-subtitle {
        color: var(--projectSubTitleColor)
    }

    .ufo--user-projects .project.thumbnail-is--medium,
    .ufo--user-projects .project.thumbnail-is--medium .project-name,
    .ufo--user-projects .project.title-is--alternating,
    .ufo--user-projects .project.title-is--alternating .project-name {
        margin-bottom: 0
    }

    .ufo--user-projects .project.thumbnail-is--medium .project-name .project-title,
    .ufo--user-projects .project.title-is--alternating .project-name .project-title {
        --projectTitleSize: 24px;
        --projectTitleHeight: 27px
    }

    .ufo--user-projects .project.thumbnail-is--medium .project-name .project-subtitle,
    .ufo--user-projects .project.title-is--alternating .project-name .project-subtitle {
        --projectSubTitleSize: 16px;
        --projectSubTitleHeight: 19px
    }

    .ufo--user-projects .project.thumbnail-is--medium .image-container,
    .ufo--user-projects .project.title-is--alternating .image-container {
        width: 100%;
        padding-top: 86%
    }

    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .image-container {
        width: 100%;
        padding-top: 100%
    }

    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .project-name {
        width: 100%
    }

    .profile_theme_nine .ufo--user-projects .project:not(.title-is--below):not(.title-is--above) .project-name .project-title {
        --projectTitleColor: #282a2b
    }

    .profile_theme_nine .ufo--user-projects .project:not(.title-is--below):not(.title-is--above) .project-name .project-subtitle {
        --projectSubTitleColor: #282a2b
    }
}

@media (min-width:1025px) {
    .profile-page .profile_theme_one.ufo--user-projects {
        padding-top: 0
    }

    .ufo--user-projects .project.title-is--below .project-name {
        margin-bottom: 20px
    }

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating .image-container,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--left .image-container,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--right .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .image-container,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .image-container {
        padding-top: 100%
    }

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating .project-name,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--left .project-name,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--right .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--alternating .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--left .project-name,
    .ufo--user-projects .project.thumbnail-is--small.title-is--right .project-name {
        position: absolute;
        height: 100%
    }

    .ufo--user-projects .project.thumbnail-is--medium.title-is--alternating .image-container,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--left .image-container,
    .ufo--user-projects .project.thumbnail-is--medium.title-is--right .image-container {
        padding-top: 87.5%
    }
}

@media (max-width:1024px) {

    .ufo--user-projects .project .project-name .project-title,
    .ufo--user-projects .project.thumbnail-is--large .project-name .project-title {
        margin-bottom: 7px
    }
}

.profile-page .empty-collection .empty-illustration {
    background: url(/dist/images/empty-collection.png) 50% no-repeat;
    background-size: contain;
    width: 410px;
    height: 406px;
    max-width: 100%;
    margin: 20px auto
}

.profile-page .empty-collection .centered-button {
    display: flex;
    justify-content: center;
    margin-top: 30px
}

.profile-page .empty-collection h2 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: .91;
    margin-bottom: 10px
}

.profile-page .empty-collection h2,
.profile-page .empty-collection p {
    font-family: Source Sans Pro, sans-serif;
    color: #6b797f;
    text-align: center
}

.profile-page .empty-collection p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

.profile-page .empty-collection p a {
    color: #00b8ff;
    font-weight: 700;
    text-decoration: none
}

.profile-page .empty-collection p a:hover {
    text-decoration: none
}